

<script type="text/javascript">
  window.images={
    logo: "<%= asset_path('logo.png')%>",
    loginpic: "<%= asset_path('loginpage.png')%>",
    splash: "<%= asset_path('splash.png')  %>",
    exclamation: "<%=asset_path('exclamation.png')%>",
    maggrey: "<%= asset_path('maggrey.png') %>",
    magwhite: "<%= asset_path('magwhite.png') %>",
    logowhite: "<%= asset_path('logo-white.png')%>",
  }
  </script>
<main id="root"></main>
