    
    <% if signed_in? %>
      <script type="text/javascript">
        window.currentUser = 
        <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>

<script type="text/javascript">
  window.images={
    logo: "<%= asset_path('logo.png')%>",
    loginpic: "<%= asset_path('loginpage.png')%>",
    splash: "<%= asset_path('splash.png')  %>",
    exclamation: "<%=asset_path('exclamation.png')%>",
    maggrey: "<%= asset_path('maggrey.png') %>",
    magwhite: "<%= asset_path('magwhite.png') %>",
    logowhite: "<%= asset_path('logo-white.png')%>",
    defchart: "<%= asset_path('defchart.png')%>"
  }
  </script>
<main id="root"></main>
